<template>
  <div class="margin-top">
    <Carousel :images="images" @next="showNext" @prev="showPrev">
      <CarouselSlide v-for="(image, index) in images" :key="index" :index="index" :visibleImage="visibleImage">
        <div class="horizonal-cal">
          <img class="carousel-img side" :src="images[prevImage]" :alt="image" />
          <img class="carousel-img" :src="image" :alt="image" />
          <img class="carousel-img side" :src="images[nextImage]" :alt="image" />
        </div>
      </CarouselSlide>
    </Carousel>
    <div class="text-center">
      <span
        v-for="(image, index) in images"
        :key="image"
        class="dots"
        @click="gotoImg(index)"
        :class="{ 'dot-active': currentImg === index }"
      ></span>
    </div>
  </div>

  <div>
    <HorizontalSlider />
  </div>
</template>

<script>
import Carousel from '../components/Carousel';
import CarouselSlide from '../components/CarouselSlide';
import HorizontalSlider from '../components/HorizontalSlider';

export default {
  components: { Carousel, CarouselSlide, HorizontalSlider },
  data() {
    return {
      images: [
        'https://picsum.photos/id/237/700/400',
        'https://picsum.photos/id/238/700/400',
        'https://picsum.photos/id/239/700/400',
        'https://picsum.photos/id/240/700/400',
        'https://picsum.photos/id/241/700/400',
      ],
      visibleImage: 0,
      prevImage: -1,
      nextImage: 1,
    };
  },

  mounted() {
    this.prevImage = this.images.length - 1;
  },

  computed: {
    slideLength() {
      return this.images.length;
    },

    currentImg() {
      return this.visibleImage;
    },
  },

  methods: {
    showNext() {
      if (this.visibleImage >= this.slideLength - 1) {
        this.visibleImage = 0;
        this.prevImage = this.slideLength - 1;
        this.nextImage = 1;
      } else {
        this.visibleImage++;
        if (this.visibleImage === this.slideLength - 1) {
          this.nextImage = 0;
          this.prevImage = this.visibleImage - 1;
        } else {
          this.nextImage = this.visibleImage + 1;
          this.prevImage = this.visibleImage - 1;
        }
      }

      console.log('The next Image ' + this.nextImage);
      console.log('The prev Image ' + this.prevImage);
    },
    gotoImg(index) {
      this.visibleImage = index;
    },
    showPrev() {
      if (this.visibleImage <= 0) {
        this.visibleImage = this.slideLength - 1;
        this.prevImage = this.visibleImage - 1;
        this.nextImage = 0;
      } else {
        this.visibleImage--;
        this.prevImage = this.slideLength - 1;
        this.nextImage = 1;
        if (this.visibleImage === this.slideLength - 1) {
          this.nextImage = 0;
          this.prevImage = this.visibleImage - 1;
        } else {
          this.nextImage = this.visibleImage + 1;
          if (this.visibleImage === 0) {
            this.prevImage = this.slideLength - 1;
          } else {
            this.prevImage = this.visibleImage - 1;
          }
        }
      }

      console.log('The nexxxt Image ' + this.nextImage);
      console.log('The prev Image ' + this.prevImage);
    },
  },
};
</script>

<style lang="scss">
.carousel-img {
  width: 1280px;
  height: 424px;
  border-radius: 20px;
}

.container {
  overflow: hidden;
  padding: 0;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 450px;
  z-index: 10;
}
.btn {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  margin: 5px 10px;
  color: #fff;
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: -25px;
  z-index: 2;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn-next {
  top: 50%;
  right: 0;
}
.btn-prev {
  top: 50%;
  left: 0;
}
.carousel-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.carousel-slider img {
  width: 100%;
  height: 100%;
}

.horizonal-cal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .img {
    margin: 10px 10px;
  }

  .side {
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }
}

.dots {
  height: 13px;
  width: 13px;
  background-color: rgb(110, 110, 110);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.text-center {
  text-align: center;

  .dots {
    margin: 28px 7px 0px 0px;
  }

  .dot-active {
    background-color: #fff;
  }
}
</style>
