<template>
  <div class=" container app">
    <h1>Some headline</h1>

    <div
      @mousedown="mouseDownEvent"
      @mouseleave="mouseLeaveEvent"
      @mouseup="mouseUpEvent"
      @mousemove="mouseMoveEvent"
      @mousewheel="hScroll"
      class="hs"
    >
      <div><img draggable="false" src="../assets/Forest-River-4k-Evening.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Strand-4k-Sunset.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Road.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Waterfall.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Waterfall.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Waterfall.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Waterfall.jpg" alt="" /></div>
      <div><img draggable="false" src="../assets/Yosemite-4k-Day-Waterfall.jpg" alt="" /></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slider: 0,
      isDown: false,
      startX: 0,
      scrollLeft: 0,
    };
  },

  mounted() {
    this.slider = this.$el.querySelector('.hs');
  },

  methods: {
    mouseDownEvent(e) {
      this.isDown = true;
      this.startX = e.pageX - this.slider.offsetLeft;
      this.scrollLeft = this.slider.scrollLeft;
      this.slider.classList.add('.active');
    },
    mouseLeaveEvent() {
      this.isDown = false;
      this.slider.classList.remove('.active');
    },
    mouseUpEvent() {
      this.isDown = false;
      this.slider.classList.remove('.active');
    },
    mouseMoveEvent(e) {
      if (!this.isDown) return;

      const x = e.pageX - this.slider.offsetLeft;

      const distance = x - this.startX;
      this.slider.scrollLeft = this.scrollLeft - distance;
    },
    hScroll(e) {
      this.slider.scrollLeft += e.deltaY;
    },
  },
};
</script>

<style lang="scss">
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  color: #ffffff;

  & > * {
    grid-column: 2 / -2;
  }

  & > .full {
    grid-column: 1 / -1;
  }
}

.hs::-webkit-scrollbar {
  display: none;
}

.hs {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  cursor: grab;
  z-index: 1;
}

.active {
  cursor: grabbing;
}
.hs {
  img {
    height: 190px;
    width: 340px;
    border-radius: 30px;
    margin-right: 40px;
    z-index: -1;
  }
}
</style>
