@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$background-color: #282928;
$nav-links-color: lighten($background-color, 30%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  background-color: $background-color;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 10px;
}

.color-white {
  color: #fff;
}
