<template>
  <Nav-bar />
  <router-view />
</template>

<script>
import NavBar from './components/NavBar.vue';
import './assets/global.scss';

export default {
  components: { NavBar },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
